body{
    margin-top: 5%;
    margin-bottom: 5%;
}
nav{
    box-shadow: 0px -50px 100px grey;
}
.footer{
    box-shadow: 0px 50px 200px grey ;
}
           
            .disabled{
                color: skyblue !important;
            }
            .text-danger{
                color: darkred !important;
            }
            .text-info{
                color:skyblue !important;
                
            }
            .bg-info{
                background-color: rgba(135, 206, 235, 0.75) !important; 
            }
            .border-info{
                border-color: rgba(135, 206, 235, 0.75) !important; 
                
            }
            .carousel{
                z-index: -1;
            }
            .sticky-top{
                top: 10%;

            }
            .list-group-item{
                padding: 0px;
            }
            .active{
                color: darkred !important;
                background-color:transparent !important;
            }

.top-25{
    top: 25%;
}
.bottom-25{
    bottom: 25%;
}
.insta{
    fill: red;
}
.reel{
    width: 50%;   
}

video:fullscreen{
    translate: 0 0;
    border: none;
}


.dropdown-item:active{
    background-color:transparent !important;
    color: darkred !important;
    
}

/* h5.card-footer {
    font-size: smaller ;
} */

h6.card-footer{
    /* font-size: smaller ; */
    opacity: 50%;
    margin-top: -5px;
}
iframe{
    margin: -1vh;
}
@media only screen and (max-width: 1920px    ) {
    .reel {
        width: 50%;
    }
    .lang_icon{
        width: 7%;
        /* border: solid orange; */
    }
}
@media only screen and (max-width: 1200px    ) {
    .reel {
        width: 75%;
    }
    .lang_icon{
        width: 15%;
        /* border: solid blue; */
    }
}
@media only screen and (max-width: 992px    ) {
    .reel {
        width: 75%;
    }
    .lang_icon{
        height: 5%;
        border: solid lightblue;
    }
   
}
@media only screen and (max-width: 768px    ) {
    .reel {
        width: 75%;
       
    }
    .lang_icon{
        width: 5%;
        /* border: solid purple; */
    }
    .respo_translate_25{
        translate: -25% 0%;
    }
    .respo_translate_50{
        translate: -50% 0%;
    }
}
@media only screen and (max-width: 576px    ) {
    .reel {
        width: 100%;
       
    }
    .lang_icon{
        width: 5%;
    }
    
}




