body{
    margin-top: 5%;
    margin-bottom: 5%;
}
nav{
    box-shadow: 0px -50px 100px grey;
}
nav img{
    border: solid red 2px;
    width: 5%;
    height: 5%;
}
.footer{
    box-shadow: 0px 50px 200px grey ;
}
           
            .disabled{
                color: skyblue !important;
            }
            .text-danger{
                color: darkred !important;
            }
            .text-info{
                color:skyblue !important;
                
            }
            .bg-info{
                background-color: rgba(135, 206, 235, 0.75) !important; 
            }
            .border-info{
                border-color: rgba(135, 206, 235, 0.75) !important; 
                
            }
            .carousel{
                z-index: -1;
            }
            .sticky-top{
                top: 10%;

            }
            .list-group-item{
                padding: 0px;
            }
            .active{
                color: darkred !important;
                background-color:transparent !important;
            }

.top-25{
    top: 25%;
}
.bottom-25{
    bottom: 25%;
}
.insta{
    fill: red;
}
.reel{
    height: 50%;
    width: 50%;
    position: absolute;
    translate: -50% -50%;
    top: 50%;
    left: 50%;
    
}
.reel iframe{
    height: 100%;
    width: 100%;
    top: 50%;
    left: 50%; 
    padding: 1%;
    border-radius: 2%;
    border: solid 1px;
    border-color: rgba(139, 0, 0, 0.7);
    margin: 1vh;
}

video:fullscreen{
    translate: 0 0;
    border: none;
}
@media only screen and (max-width: 540px    ) {
    .reel {
        width: 100%;
    }
  }

.dropdown-item:active{
    background-color:transparent !important;
    color: darkred !important;
    
}

h5.card-footer {
    font-size: smaller ;
}

h6.card-footer{
    font-size: smaller ;
    opacity: 50%;
    margin-top: -5px;
}
iframe{
    margin: -1vh;
}